<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @kunal.name %>
</p>

<p>
  <b>Title:</b>
  <%= @kunal.title %>
</p>

<p>
  <b>Decription:</b>
  <%= @kunal.decription %>
</p>


<%= link_to 'Edit', edit_kunal_path(@kunal) %> |
<%= link_to 'Back', kunals_path %>
